name: CICD Pipeline for Build and Deploy Docker Container on K8S

on:
  workflow_call:
    inputs:
      service:
        description: "Service name (e.g. backend, dashboard, actions)"
        required: true
        type: string
      image:
        description: "Image name on ghcr (e.g. wudio-backend, wudio-dashboard, wudio-actions)"
        required: true
        type: string
      sha:
        description: "Git commit SHA"
        required: true
        type: string
      namespace:
        description: "Kubernetes namespace"
        required: false
        default: "wudio"
        type: string
      username:
        description: "GHCR username"
        required: true
        type: string
      location:
        description: 'Path to PHP project'
        required: false
        default: ''
        type: string
      command:
        description: "Optional custom command to execute instead of nx build"
        required: false
        default: ""
        type: string
      switch-environment:
        description: "Whether to run Prepare environment (swap environments.run.ts)"
        type: boolean
        required: false
        default: true

    secrets:
      kubeconfig:
        description: "Kubeconfig yaml for DigitalOcean cluster"
        required: true
      password:
        description: "GHCR password (GitHub Token)"
        required: true

jobs:
  docker-build:
    runs-on: ubuntu-latest
    outputs:
      imageTag: ${{ steps.build.outputs.fullImage }}
      commitHash: ${{ steps.build.outputs.commitHash }}
    steps:
      - uses: actions/checkout@v5

      - name: Build & Push ${{ inputs.service }}
        id: build
        uses: Wudio-GmbH/utils/docker-build@nx
        with:
          service: ${{ inputs.service }}
          sha: ${{ inputs.sha }}
          username: ${{ inputs.username }}
          password: ${{ secrets.password }}
          image: ${{ inputs.image }}
          location: ${{ inputs.location }}
          command: ${{ inputs.command }}
          switch-environment: ${{ inputs.switch-environment }}

  docker-deploy:
    needs: docker-build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Deploy ${{ inputs.service }} to Kubernetes
        uses: Wudio-GmbH/utils/deploy-k8s@main
        with:
          kubeconfig: ${{ secrets.kubeconfig }}
          service: ${{ inputs.service }}
          image: ${{ needs.docker-build.outputs.imageTag }}
          namespace: ${{ inputs.namespace }}
          commitHash: ${{ needs.docker-build.outputs.commitHash }}